BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
